body,h1,h2,p,label,input,button{
    margin:10;
    padding:10;
}
/*Global Styles*/
body{
    font-family: Ariel,sans-serif;
    line-height:1.6;
    background-color: white;
}
header{
    background-color: #333;
    color:#fff;
    text-align:center;
    padding:0rem;
}
main{
    padding: 2rem;
    text-align: center;
.ecommerce {
        border-radius: 8px;
            border-radius: 90%;
    }
}
footer{
    text-align: center;
    padding:0rem 0;
    background-color: #333;
    color:#fff;
    bottom:0;
    right:0;
    left:0;
    position: absolute;
}
/*Forms*/
.signup-form  .sign-form{
    max-width:300px;
    margin:0 auto;
}
label{
    display:block;
    margin-bottom:5px;
}
input{
    width:20%;
    padding: 8px;
    margin-bottom: 10px;
    border:1px solid #ddd;
    border-radius:3px ;
}
button{
    display: inline-block;
    padding: 8px 20px;
    background-color: #333;
    color:#fff;
    border:none;
    border-radius: 2px;
    cursor:pointer;
}
button:hover{
    background-color: #555;
}